<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Package Sources -->
  <packageSources>
    <clear />

  <!-- Credentials -->
  <packageSourceCredentials>
    <Nexus-Custom-package>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="Mitnl_Devops@123" />
    </Nexus-Custom-package>
  </packageSourceCredentials>

</configuration>
